﻿@using System.Web.UI.WebControls
@model System.Collections.Generic.List<MovieSearch.Models.MovieModel>

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style type="text/css">
        #movieImg {
            display: block;
            max-width: 230px;
            max-height: 95px;
            width: auto;
            height: auto;
        }

        .datepicker {
        }
        #searchForm td {
            padding: 10px 10px 10px 10px
        }
        
    </style>
    <title>title</title>

</head>

<body>
    <div>
        @using (Html.BeginForm())
        {
            <div class="border border-secondary" >
                <div style="padding: 25px 25px 25px 25px">
                    <table id="searchForm">
                        <tr>
                            <td>Search Movie: @Html.TextBox("SearchString", "", new { @class = "form-control", placeholder = "Search by text..." })</td>
                            <td>Genres: @Html.DropDownList("genreId", new SelectList(ViewBag.GenreList, "Key", "Value"), new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Release Date: @Html.TextBox("releaseDate", "", new { @class = "datepicker form-control", placeholder = "Select release date" })</td>
                            <td>Include Adult Content: @Html.CheckBox("IncludeAdultContent", false)</td>
                        </tr>
                    </table>
                    <br/>
                    <input type="submit" value="Search" class="form-control" style="width: 75px" />
                </div>
            </div><br/>


            if (Model != null && Model.Count > 0)
            {

            <table class="table table-striped table-active">
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => Model.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => Model.FirstOrDefault().Genres)
                    </th>
                    <th>
                        @Html.DisplayName("Image")@*(m => Model.FirstOrDefault().ImgPath)*@
                    </th>
                    <th>
                        @Html.DisplayName("Release Date")
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => Model.FirstOrDefault().Overview)
                    </th>
                    <th>
                        @Html.DisplayName("Vote Average")
                    </th>

                    <th></th>
                </tr>
                @if(Model.Count > 0)
                {
                    foreach (var movieModel in Model)
                     {
                         <tr class="@movieModel.MovieId">
                             <td>
                                 @Html.DisplayFor(m => movieModel.Title)
                             </td>
                             <td>
                                 @foreach (var genre in movieModel.Genres)
                                 {
                                     @Html.DisplayFor(g => genre)
                                 }
                             </td>
                             <td>
                                 <img id="movieImg" src="@Url.Content(movieModel.ImgPath)" height="350" width="350" alt="Image" />
                             </td>
                             <td>
                                 @Html.DisplayFor(m => movieModel.ReleaseDate.Value.Year)
                             </td>
                             <td>
                                 @Html.DisplayFor(m => movieModel.Overview)
                             </td>
                             <td>
                                 @Html.DisplayFor(m => movieModel.VoteAverage)
                             </td>
                             <td id="@movieModel.MovieId">
                                 <a class="btn btn-info" onclick="addMovieToFavourite(@movieModel.MovieId)">Add To Favourite</a>
                             </td>
                         </tr>
                    }
                }
                else
                {
                    
                }
                

            </table>

            }
            else
            {
                <div style="padding: 12px 12px 12px 12px">
                    <center><h3>No results found.</h3></center>

                </div>
            }
        }

    </div>
</body>
</html>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({
                changeMonth: false,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy',
                onClose: function(dateText, inst) { 
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, 0, 1));
                }

            });
        });

        function addMovieToFavourite(id) {
            $.ajax({
                type: "POST",
                url: "AddMovieToFavourite/" + id,
                async: true,
                success: function (data) {
                    console.log("success" + data.Data);
                    $('.' + id).fadeOut(350, function () { $(this).remove(); });
                },
                error: function (data) {
                    console.log("failure" + data);
                }
            });
        };

    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script> 
}