﻿@model dynamic

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <style type="text/css">

        .movieImg {
            display: block;
            max-width: 230px;
            max-height: 95px;
            width: auto;
            height: auto;
        }
        
    </style>
</head>
<body>
<div>
    <p align="center">
        <button onclick="selectFavouriteMovies()" type="button" class="btn btn-success">Click here to get your favourite movies</button>
    </p>
</div>
<table class="moveTable table table-striped table-active">
    <tr style="padding: 5px 5px 5px 5px">
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Image")
        </th>
        <th>
            @Html.DisplayName("Release Date")
        </th>
        <th>
            @Html.DisplayName("Genres")
        </th>
        <th>

        </th>


    </tr>
</table>
</body>
</html>


<script type="text/javascript">
    var times = 0;
    function selectFavouriteMovies() {
        $.ajax({
            type: "GET",
            url: "/SelectFavouriteMovies",
            async: true,
            success: function (data) {
                var allMovies = data.Data;
                $(".moveTable").find('.list').empty();
                for (var i = 0; i <= allMovies.length - 1; i++) {
                    
                    $(".moveTable").append('<tr class="list" id="list' + allMovies[i].MovieId +'"><td>' +
                        allMovies[i].Title +
                        '</td><td><img width="270px" height="230px" src="' +
                        allMovies[i].ImgPath +
                        '"/></td><td>' +
                        allMovies[i].ReleaseDate.slice(0, 4) +
                        '</td><td>' +
                        allMovies[i].Genres.join() +
                        '</td>' +
                        '<td><a class="btn btn-info" onclick="removeFavouriteMovie(' + allMovies[i].MovieId + ')"> Remove from favourites </a></td></tr>'); 
                }
            },
            error: function(data) {
                console.log("failure" + data);
            }
        });
    };

    function removeFavouriteMovie(id) {
        $.ajax({
            type: "POST",
            url: "/RemoveFavouriteMovie/" + id,
            async: true,
            success: function (data) {
                console.log("success " + data.Data);
                $(".moveTable").find('#list' + id).fadeOut(350, function() { $(this).remove(); });
            },
            error: function(data) {
                console.log("failure" + data);
            }
        })
    }
</script> 